# macOS
.DS_Store
*.swp
*~

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage
Pods/
Carthage/Build/

# Editors
.idea/
.vscode/

# Local config & secrets
*.local
.env